.main {
  font-family: Arial;
  font-size: 20px;
}

.main_nav {
  display: inline-block;
  margin-right: auto;
  font-family: Arial;
  width: 100%;
}

.main_nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 40px;
  text-decoration: none;
  font-size: 19px;
  background-color: #211545;
}

.main_nav a:hover {
  background-color: #dbdbdb;
  color: black;
}
