.body{
	margin: auto;
	background-color: #eaeaea;

}
#headings1 {
	background-size: cover;

}
.backGroundPurple {
	background-color: #200146;

}

.backGroundWhite {
	background-color: #ffffff;

}

.card2:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card3 {
	width: auto;
	margin:auto;
	text-align: center;
	display: inline-block;
}

.card2 {
	display: block;
	text-align: center;
	width: 350px;
	float: left;
	border-radius: 5px;
	background-color: #ffffff;
	height: 370px;
}

.card2 {
  margin: 15px;
	margin-bottom: 100px;
  border-radius: 10px 10px 0 0;
	box-shadow: 0 8px 8px 0 rgba(0.3,0.3,0.3,0.3);
  transition: 0.2s linear;
	padding-bottom: 15px;

}


.cardContent {
	display: inline-block;
	text-align: left;
	width: 350px;
	float: left;
	background-color: #ffffff;
	margin: 5px 40px 5px 20px;
	box-shadow: 0 8px 8px 0 rgba(0.3,0.3,0.3,0.3);
	border-radius: 10px;
	height: 400px;
}

.headings {
	font-size: 28px;
	color: white;
	text-align: center;
	font-family: Arial;
	background-color: #211545;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}

.subHeadings1 {
	font-size: 28px;
	color: #455c95;
	text-align: center;
	font-family: Arial;
	width: 100%;
}

.subHeadings2 {
	font-size: 100%;
  color: #f2f2f2;
  background-color: #211545;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial;

}

.bodyCenter {
	text-align: left;
	color: black;

}

p {

	font-size: 100%;
	font-family: Open sans, Century gothic;
}

.readmore {
	text-align: center;
  background-color: #211545;
	color: #f2f2f2;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 15px;
	margin-bottom: 10px;

}

.readmore:hover {
  background-color: #dbdbdb;
	color: black;

}

.footer {
	padding: 1.2em 0;
	background: #200146;
	font-family: Century gothic;
	color: white;
	text-align: center;
	font-size: 20px;
	width: 100%;
	margin-top: 20px;

}


.logo {
	display: flex;
	float: left;
	height: 150px;
	margin-top: -39px;
}

.readmore {
	font-size: 100%;
	font-family: Open sans, Century gothic;
	color: white;
	text-decoration: none;
}

.mainContent {
	font-size: 18px;
	color: black;
	text-align: left;
	margin-right: 15px;

}
.mainContent p {
	margin: 30px;
	font-family: Arial;
}

.mainContent li {
	padding-bottom: 8px;
}

/* My own css */

.resize1 {
	width: 100%;
	height: 150px;
  object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.container {
  margin: 15px;
  transition: 0.2s linear;
	padding-bottom: 15px;
	background-color: #eaeaea;
	display: block;
	font-size: 20px;
	font-family: Arial;


}
.contentImg {
	width:100%;
	height:200px;
	object-fit:cover;
}


#topBtn {
	display:none;
	position:fixed;
	bottom:20px;
	right: 20px;
	font-size: 20px;
	width: 50px;
	height: 50px;
	background-color: #fffff;
	color: #33333;
	cursor: pointer;
	outline: none;
	border-radius: 10px;

}
#topBtn: hover {
	background-color: #33333;
	color:#fffff;

}
.content {
	font-family: Arial;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
