.body{
	margin: auto;
	background-color: #fefff0;

}
#headings1 {
	background-size: cover;

}
.backGroundPurple {
	background-color: #200146;

}

.backGroundWhite {
	background-color: #ffffff;

}

.card2:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card3 {
	width: auto;
	margin:auto;
	text-align: center;
	display: inline-block;
}

.card2 {
	display: block;
	text-align: center;
	width: 400px;
	float: left;
	border-style: ridge;
	border-radius: 5px;
	margin-bottom: 100px;
	background-color: #ffffff;
}

.card2{
    display: block;
    text-align: center;
    margin: 15px;
    border-style: ridge;
    border-radius: 5px;
    margin-bottom: 100px;
		box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s linear;
}
.headings {
	font-size: 1.2vw;
	color: white;
	text-align: center;
	display: block;
	font-family: Arial;
	background-color: #211545;

}

.subHeadings1 {
	font-size: 1.2vw;
	color: #455c95;
	text-align: center;
	font-family: Arial;
}

.subHeadings2 {
	font-size: 100%;
  color: #f2f2f2;
  background-color: #211545;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial;

}

.bodyCenter {
	text-align: left;
	color: black;

}

p {

	font-size: 100%;
	font-family: Open sans, Century gothic;

}

.readmore {
	text-align: center;
  background-color: #211545;
	color: #f2f2f2;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.readmore:hover {
  background-color: #dbdbdb;
	color: black;

}

.footer {
	margin-top: 80px;
	padding: 1.2em 0;
	background: #200146;
	font-family: Century gothic;
	color: white;
	text-align: center;
	font-size: 1vw;

}


.logo {
	display: flex;
	float: right;
}

.readmore{
	font-size: 100%;
	font-family: Open sans, Century gothic;
	color: white;
	text-decoration: none;
}


/* My own css */

.resize1 {
	width: 100%;
	height: 150px;
  object-fit: cover;
}
