.body{
	margin: auto;

}
#headings1 {
	background-size: cover;

}
.backGroundPurple {
	background-color: #200146;

}

.backGroundWhite {
	background-color: #ffffff;

}

.card3 {
	display: block;
	margin: 15px;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
	padding: 14px;

}
/**
.card2 {
	width: 100%;
	height: 300px;
	display: inline;

}
**/

.headings {
	font-size: 1.2vw;
	color: #455c95;
	text-align: center;

}

.subHeadings1 {
	font-size: 100%;
	color: #455c95;
	text-align: center;

}

.subHeadings2 {
	font-size: 100%;
	color: #200146;

}

.bodyCenter {
	text-align: left;
	color: black;

}

p {
	font-size: 100%;
	font-family: Open sans, Century gothic;

}

.buttons {
	text-allgn: center;
	background-color: #5495ff;
	margin-left: 120px;

}

.buttons:hover {
	background-color: #2678ff;

}

.footer {
	margin-top: 80px;
	padding: 1.2em 0;
	background: #200146;
	font-family: Century gothic;
	color: white;
	text-align: center;
	font-size: 1vw;

}

/* My own css */

.resize1 {
	width: 100%;
	height: auto;

}
